[Unit]
Description=Run OSM Rangefind on weeknights (Montreal time)

[Timer]
OnCalendar=Sun,Mon,Tue,Wed,Thu *-*-* 20:00:00 America/Montreal
AccuracySec=1min
Unit=osm-rangefind-nightly.service

[Install]
WantedBy=timers.target
